<div class="page-area">
    <div class="row">

        <div class="col-md-6">
            <app-card>
                <h4 title>Header Content</h4>
                <h5 class="card-title">Laptop</h5>
                <a class="btn btn-success">Know more Laptop</a>
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a class="btn btn-success">Know more Mobile</a>
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">TV</h5>
                <a class="btn btn-success">Know more TV</a>
            </app-card>
        </div>

        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Fan</h5>
                <a class="btn btn-success">Know more Fan</a>
            </app-card>
        </div>

    </div>
</div>