.flex-container {
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: rgb(136 172 207 / 66%);
  padding: 5px;
  width: 200px;
  height: 83px;
  margin-top: 10px;
  line-height: 25px;
  padding: 19px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-right: 60px;
  margin-top: 25px;
}

.flex-item:hover {
  background: rgb(90 175 255 / 35%);
}

a {
  text-decoration: none !important;
  color: #040404 !important;
}