<div class="row">
    <div class="col-md-12">
        <ul class="list flex-container">
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
            <li class="flex-item">
                <a routerLink="promise">Promise</a>
            </li>
        </ul>
    </div>
</div>