

    <div class="row">

        <div class="col-md-6">
            <div class="card" appHostlistener>
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Click the box or hover the box or mouse out</p>
                    <p class="card-text">Click the box or hover the box or mouse out</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" appHostlistener>
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <p class="card-text">Click the box or hover the box or mouse out</p>
                    <p class="card-text">Click the box or hover the box or mouse out</p>
                </div>
            </div>
        </div>

    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>