<div class="page-area">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page 2</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a [routerLink]="['page2',12]" [queryParams]="{editmode:true}" class="btn btn-success">Go to Page
                        2</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page 3</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a routerLink="page3" class="btn btn-success">Go to Page 3</a>
                </div>
            </div>
        </div>


    </div>
</div>
<br><br>
<button class="btn btn-success" routerLink="/loader" fragment="text">Jump To</button>

<br><br><br>

<div class="d-flex justify-content-center border border-dark">
    <div class="row">

        <div class="col-md">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam odit blanditiis officia.
    Minima officiis
    expedita excepturi modi a numquam.</p>