<h3>Tap</h3>

<div class="row" [ngStyle]="{'color': myColor}">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List_1</div>
            <div class="card-body">
                <ul id="container1"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List_2</div>
            <div class="card-body">
                <ul id="container2"></ul>
            </div>
        </div>
    </div>
</div>