<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Angular</a>
  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{dropdownName}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li class="nav-item" *ngFor="let item of pathArr">
        <a class="nav-link" routerLinkActive="active" [routerLink]="item.routerPath"
          [routerLinkActiveOptions]="{exact:true}">{{item.pathName}}</a>
      </li>
    </ul>
  </div> -->
  <div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of pathArr">
          <a class="nav-link" routerLinkActive="active" [routerLink]="item.routerPath"
            [routerLinkActiveOptions]="{exact:true}">{{item.pathName}}</a>
        </li>
      </ul>
    </div>

    <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of pathArrRxjs">
          <a class="nav-link" routerLinkActive="active" [routerLink]="item.routerPath"
            [routerLinkActiveOptions]="{exact:true}">{{item.pathName}}</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>