<!-- Promise
    1. async
    2. Return single value
        resolve
        reject

observable
    1. async or sync
    2. Return stream of values -->

<h3>Promise</h3>
<p>check console</p>

<div class="row mx-3">
    <div class="col-md-4">
        <strong>Ex - 01 : with Promise</strong>
        <hr>
        <button class="btn btn-primary" (click)="function1()">Buy Laptop</button>
        <hr>
        <div class="result1">{{result1}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex - 02 : with Async / await</strong>
        <hr>
        <button class="btn btn-primary" (click)="function2()">Buy Laptop</button>
        <hr>
        <div class="result2">{{result2}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex - 03 : with Fetch Api</strong>
        <hr>
        <button class="btn btn-primary" (click)="function3()">Buy Laptop</button>
        <hr>
        <div class="result3">{{result3}}</div>
    </div>
</div>