<h3>Of & From</h3>
<br>
<strong>Ex - 1(OF)</strong>

<div class="row">
    <div class="col-md-4">
        <p class="border rounded text-white bg-secondary p-2"><strong>Data:</strong> of('Ram', 'Sam', 'Mina')</p>
        <ul id="container1"></ul>
    </div>

    <div class="col-md-4">
        <p class="border rounded text-white bg-secondary p-2"><strong>Data:</strong> of(&#123;'Ram', 'Sam',
            'Mina'&#125;)</p>
        <ul id="container2">
            <li>{{object.name1}}</li>
            <li>{{object.name2}}</li>
            <li>{{object.name3}}</li>
        </ul>
    </div>
</div>

<strong>Ex - 2(From)</strong>
<div class="row">
    <div class="col-md-4">
        <strong>Array</strong>
        <p class="border rounded text-white bg-secondary p-2"><strong>Data:</strong> From(['Ram', 'Sam', 'Mina'])</p>
        <ul id="container3"></ul>
    </div>

    <div class="col-md-4">
        <strong>Promise</strong>
        <p class="border rounded text-white bg-secondary p-2"><strong>Data:</strong>Promise to Observable</p>
        <ul id="container4"></ul>
    </div>

    <div class="col-md-4">
        <strong>String</strong>
        <p class="border rounded text-white bg-secondary p-2"><strong>Data:</strong>String to Observable</p>
        <ul id="container5"></ul>
    </div>
</div>