<h1>Pipe</h1>

<!-- Use custom pipes and pass value -->
<div class="container" style="border: 1px solid black;">
    Use custom pipes and pass value
    <strong></strong>
    <p><strong>{{text1 | custom:10}}</strong></p>
    <p><strong>{{text2 | custom:8}}</strong></p>
</div>
<br>


<div class="container">
    <div style="margin: 15px;display: flex;flex-direction: row;justify-content: space-evenly;">
        <input type="number" value="" placeholder="Product Id" #pId>
        <input type="text" value="" placeholder="Product Name" #pName>
        <input type="text" value="" placeholder="Product Price" #price>
        <button class="btn btn-success" (click)="addData(pId,pName,price)">Add Data</button>
    </div>
    <input class="form-control" type="search" id="search" placeholder="Search Product" [(ngModel)] = "nameSearch">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>SL. No</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products | filter:nameSearch : ['pName','pId']; index as i">
                <td>{{i+1}}</td>
                <td>{{item.pId}}</td>
                <td>{{item.pName}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div>